@media(min-width: 801px) {
    
    nav ul {
        max-width: 350px;
    }

    nav ul li:last-child {
        width: 40%; 
    }
    
}

@media(max-width: 1100px) {
    
    main {
        margin: 0 35px;
    }

    .Lorem {
        height: auto;
    }
    
    .Lorem nav ul {
        margin: 30px 0;
        max-width: 100%;
    }

    .Lorem nav ul li:last-child {
        width: auto; 
    }

    .Lorem p {
        text-align: center;
    }

    .Lorem h1 {
        font-size: 1.5rem;
        text-align: center;
    }

    .Lorem .final {
        margin-bottom: 30px;
    }

    .Lorem .imagem {
        display: none;
    }

}

@media(max-width: 800px) {

    main {
        height: auto;
    }

    section {
        margin: 0 25px;
    }
    
    nav ul {
        margin: 30px 0;
    }

    .responsive {
        display: block;
        height: 350px;
        margin: auto auto;
    }

    h1 {
        text-align: center;
        font-size: 1.3rem;
    }

    .fraco {
        text-align: center;
        font-size: 1.2rem;
    }

    .botoes {
        width: 85%;
        margin-bottom: 30px;
    }

    .imagem {
        display: none;
    }

    footer {
        font-size: 1.16rem;
    }

}

